.card-group {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 12px;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    .card-group-list {
        flex-basis: 80%;
    }
    .card {
        color: #ee5057;
        background: #fff;
        border: none !important;
        .card-header {
            background: #ee5057;
            color: #fff;
            border: none !important;
            border-radius: 0px !important;
        }
        .card-body {
            display: flex;
        }
    }
    .card-price {
        background: #ee5057;
        color: #fff;
        flex-basis: 20%;
        .card-body {
            justify-content: center;
            align-items: center;
        }
    }
}
.d-block {
    display: block;
}
.wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
}
.itemCont {
    display: flex;
    flex: 1;
    flex-direction: column;
    .item {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
}
.transform mat-icon {
    transform: rotate(90deg);
}
